.blog-card-article{
    min-height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: hsl(47, 88%, 63%);
    

}

.blog-card{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.blog-img{
    border-radius: 20px;


}

.blog-category{


}

.blog-date{
    color: ;
 
}

.blog-title{

}
.blog-discrip{

}

.blog-author{
    display: flex;
    align-items:center;

}