.blog-card-article{
    min-height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: yellowhsl(47, 88%, 63%);
    

}

.blog-card{
    background-color: white;
    margin: 20px;
}

.blog-img{


}

.blog-category{


}

.blog-date{

}

.blog-title{

}
.blog-discrip{

}

.blog-author{
    display: flex;
    align-items:center;

}