.blog-card-article{
    display: flex;
    align-content: center;
    justify-: center;

}

.blog-card{

}

.blog-img{


}

.blog-category{


}

.blog-date{

}

.blog-title{

}
.blog-discrip{

}

.blog-author{

}