.blog-card-article{
    display: flex;
    align-items: center;
    justify-content: center;
   

}

.blog-card{
    background-color: blueviolet;
    
}

.blog-img{


}

.blog-category{


}

.blog-date{

}

.blog-title{

}
.blog-discrip{

}

.blog-author{

}